body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
.game {
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
gap: 10px;
}
.container1{
    border: 2px solid aqua;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px aqua;
}
button{
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    margin-left: 15px;
    background-color: rgb(38, 228, 0);
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
input[type='number']{
    width: 140px;
    height: 30px;
    border-radius: 10px;
    border:0.2px solid ;
    text-align: center;
    font-size: 2rem;
}
.container2{
    border: 2px solid rgb(255, 64, 0);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px rgb(255, 64, 0);
}
img{
    width: 50px;
}
.container3{
    border: 2px solid rgb(255, 64, 0);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10%;
    box-shadow: 2px 2px rgb(255, 64, 0);
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
